<form class="form upload-form">
  <h4>Отзывов в базе данных: 1005001</h4>
  <div>
    <input type="file">
    <button> Добавить отзывы в БД</button>
  </div>
</form>

<form class="form report-form">
  <h4>Отчет по загруженным отзывам</h4>
  <div>
    <select><option>--- Критерий классификации ---</option></select>
    <select><option>--- Формат отчета ---</option></select>
    <button>Сформировать отчет</button>
  </div>
</form>
