<%= form_tag upload_reviews_path, method: :post, multipart: true, class: 'form upload-form' do %>
  <h4>Отзывов в базе данных: <%= @review_count %></h4>
  <div>
    <%= file_field_tag 'file' %>
    <%= submit_tag('Добавить отзывы в БД') %>
  </div>
<% end %>

<form class="form report-form">
  <h4>Отчет по загруженным отзывам</h4>
  <div>
    <select><option>--- Критерий классификации ---</option></select>
    <select><option>--- Формат отчета ---</option></select>
    <button>Сформировать отчет</button>
  </div>
</form>
